# Dependencies
node_modules/

# Environment variables
.env

# Build output
dist/
build/

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/
*.swp
.DS_Store

# OS
Thumbs.db

# Test coverage
coverage/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
